# Basic IO

## Python help()

In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

## print format

* format by %
* using {} and format
* using f-string

In [6]:
num1 = 222
num2 = 333
num3 = num1 + num2
print('num1 + num2 = ', num3)

str1 = str(num1) + str(num2)
print('string num1 + num2 = ', str1, sep=' @@@@ ')

# print them in one line
print('num1 + num2 = ', num3, end = '\t')
print('string num1 + num2 = ', str1, sep=' @@@@ ')

num1 + num2 =  555
string num1 + num2 =  @@@@ 222333
num1 + num2 =  555	string num1 + num2 =  @@@@ 222333

* format by %

In [10]:
'%s' % 'PinPin'

'PinPin'

In [11]:
'%d' % 999

'999'

In [13]:
'%s is %d years old' % ('PinPin', 34)

'PinPin is 34 years old'

In [14]:
my_name = 'PinPin'
age = 35

print('%s is %d years old' % (my_name, age))

PinPin is 35 years old

In [20]:
x = 15
print('the x binary expression is 0x%X\nand octal expression is %o' % (x, x))

the x binary expression is 0xF
and octal expression is 17

In [24]:
x = 10000000
print('%e' % x)
print('%E' % x)
y = 0.000123
print('%e' % y)

1.000000e+07
1.000000E+07
1.230000e-04

In [28]:
x = 100
y = 10.5
print('x = /%6d/' % x) # left alignment
print('y = /%6.2f/' % y) # left alignment
print('x = /%-6d/' % x) # left alignment
print('y = /%-6.2f/' % y) # left alignment

x = /   100/
y = / 10.50/
x = /100   /
y = /10.50 /

In [4]:
x = 100
print('/%-6d/' % x)
y = 10.5
print('/%-6.2f/' % y)
s = 'Deep'
print('/%-6s/' % s)

/100   /
/10.50 /
/Deep  /

* Using {} and format

In [11]:
score = 98
name = 'PinPin'
count = 1
print("{}'s {} times test score is {}".format(name, count, score))

s = "{}'s {} times test score is {}".format(name, count, score)
print(s)

s = "{}'s {} times test score is {}"
print(s.format(name, count, score))

PinPin's 1 times test score is 98
PinPin's 1 times test score is 98
PinPin's 1 times test score is 98

In [22]:
r = 5
PI = 3.1415926
area = PI * (r ** 2)
print("/The circle area is {1:10.2f} and radius:{0:3d} and PI is {2:10.5f}/".format(r, area, PI)) # right alignment
print("/The circle area is {1:<10.2f} and radius:{0:<3d} and PI is {2:<10.5f}/".format(r, area, PI)) # left alignment
print("/The circle area is {1:^10.2f} and radius:{0:^3d} and PI is {2:^10.5f}/".format(r, area, PI)) # central alignment

/The circle area is      78.54 and radius:  5 and PI is    3.14159/
/The circle area is 78.54      and radius:5   and PI is 3.14159   /
/The circle area is   78.54    and radius: 5  and PI is  3.14159  /

* Using f'' or called f-strings

In [25]:
city = 'Taipei'
country = 'Taiwan'
print(f'The {country} capital is {city}')

The Taiwan capital is Taipei

In [27]:
x = 'Boring print ' * 10
print(x)

Boring print Boring print Boring print Boring print Boring print Boring print Boring print Boring print Boring print Boring print

### Print to a file

In [31]:
with open('C:\\Users\\benho\\Downloads\\temp\\print_to_file_test.txt', 'w') as file_stream:
    print("This is a print to file test", file = file_stream)

with open('C:\\Users\\benho\\Downloads\\temp\\print_to_file_test.txt', 'a') as file_stream:
    print("This is a appended print to file test", file = file_stream)